<link rel="stylesheet" href="/CSS/main.css">

<body>
    <nav class="nav">
        <a class="nav-link active" href="/">Home</a>
        <a class="nav-link" href="/create">Create</a>
    </nav>
    <hr>
</body>